@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Rubik+Iso&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FF0000;

    --fonte-primaria: 'Roboto Mono', monospace;
    --font-secundaria: 'Rubik Iso', cursive;
}

*   {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabeca {
    padding: 5% 0% 0% 15%;
}

.cabeca__menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    text-decoration: none;
}

strong{
    color: var(--cor-terciaria);
}

.pai {
    padding: 7% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.filho {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.filho__titulo {
    font-size: 4rem;
    font-family: var(--fonte-primaria);
}

.filho__texto {
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}

.filho__link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.neto__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 20px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.neto__link:hover {
    background-color: var(--cor-terciaria);
    padding: 3%;
}

.filho__imagem {
    width: 40%;
}

.rodape {
    padding: 22px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

@media (max-width: 1000px) {

    .cabeca{
        padding: 10%;
    }

    .cabeca__menu {
        justify-content: center;
    }

    .pai {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .filho {
        width: auto;
    }
}